<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--Scripts-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>

    <script src="app.js"></script>
    <script src="/controllers/controller.js"></script>
    <!--css-->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body ng-app="pontoDApp">
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <div ng-controller="Ctrl as vm">
        <div layout="row" layout-align="center center">
            <div flex="80">
                <md-toolbar class="md-toolbar-tools">
                    <div class=" my-md-menu-button" layout="row" layout-fill>
                        <md-button ng-class="{'active-menu':$index==vm.isActive}" ng-repeat="navbar in vm.navbarItems" ui-sref="{{navbar.url}}" ng-click="vm.getUserOnWork();vm.getIndex($index)">{{navbar.item}}</md-button>
                    </div>
                </md-toolbar>
            </div>
        </div>
    </div>
    <ui-view></ui-view>
</body>

</html>