<!--<md-tabs>-->
<!--    <md-tab ng-repeat="months in vm.calendar[1].months" label="{{months}}">-->
<div layout="column" layout-margin>

    <div layout="row" layout-align="center center">
        <md-grid-list flex="25" md-cols="7" md-row-height="2:2" md-gutter="0px">
            <md-toolbar>
                <div class="md-toolbar-tools" layout="row" layout-align="center center">
                    <h2 class="md-title"> <md-button class="md-primary md-raised" ng-click=" vm.changeMonth('prev')">Prev</md-button> {{vm.calendar.currentMonth}} {{ vm.calendar.currentYear}}   <md-button class="md-primary md-raised" ng-click=" vm.changeMonth('next')">Next</md-button> </h2>

                </div>
            </md-toolbar>
            <md-grid-tile ng-repeat="weekDays in vm.calendar.weekDays">
                {{weekDays}}
            </md-grid-tile>
            <md-grid-tile style="border: 1px solid" ng-repeat="days in  vm.calendar.days track by $index" ng-class="vm.calendar.dayCssClass[$index]">
                {{days}}
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>
