<md-dialog aria-label="ponto" ng-cloak flex-gt-md="40" flex="60">
    <md-toolbar layout="row" class="md-tall" ng-class="vm.headerClass" layout-align="center center">
        <div class="md-toolbar-tools" layout="row" layout-align="end center">
            <span style="text-transform: uppercase;" class="md-headline">{{vm.headTile}}</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div id="show-wellcome" ng-show="vm.isShowSucess.status" layout="column" layout-align="center center">
                <md-icon class="material-icons md-96" ng-class="vm.isShowSucess.icon.class">{{vm.isShowSucess.icon.type}}</md-icon>
                <h2 class="headline">{{vm.isShowSucess.text.title}}</h2>
                <h3 class="md-title">{{vm.isShowSucess.text.time.title}}<span><b>{{vm.isShowSucess.text.time.value}}</b></span>
                </h3>
                <h3 ng-show="vm.isShowSucess.showWorkedTime" class="md-title">{{vm.isShowSucess.text.workTime.title}}<span><b>{{vm.isShowSucess.text.workTime.value}}</b></span>
                </h3>
                <h3 class="md-title">{{vm.isShowSucess.text.situation.title}}<span ng-class="vm.statusClass"> <b>{{vm.isShowSucess.text.situation.status}}</b></span></h3>
                <!--                <h3  class="md-title">Atrasado(a):&nbsp; <span ng-show="vm.message.user.isDelayedIn"><b>Sim</b></span><span ng-show="!vm.message.user.isDelayedIn"><b>Não</b></span> </h3>-->
            </div>
            <div id="show-warn" ng-show="vm.isShowWarning.status" layout="column" layout-align="center center">
                <md-icon class="material-icons md-96" ng-class="vm.isShowWarning.icon.class">{{vm.isShowWarning.icon.type}}</md-icon>
                <h2 class="headline">{{vm.isShowWarning.text.title}}</h2>
                <h2 class="headline">{{vm.isShowWarning.text.content}}</h2>
            </div>
            <div id="show-error" ng-show="vm.isShowError.status" layout="column" layout-align="center center">
                <md-icon class="material-icons md-96" ng-class="vm.isShowError.icon.class">{{vm.isShowError.icon.type}}</md-icon>
                <h2 class="headline">{{vm.isShowError.text.title}}</h2>
            </div>
        </div>
    </md-dialog-content>
    <md-divider></md-divider>
    <md-dialog-actions >
            <md-button class="md-primary" ng-click="vm.closeDialog()">
                Ok
            </md-button>
    </md-dialog-actions>
</md-dialog>
