<md-content layout="column">
    <div layout="row">
        <div layout="row" layout-align="center center">
            <div layout="column" flex-gt-md="100">
                <md-card class="my-md-no-margin my-md-no-shadow">
                    <md-card-title>
                        <h2 class="md-headline">Cadastro de colaborador(a)</h2>
                    </md-card-title>
                    <md-card-content>
                        <form name="signupForm" novalidate>
                            <md-divider></md-divider>
                            <md-divider></md-divider>
                            <md-card class="my-md-no-margin my-md-no-shadow">
                                <md-card-title class="bg-grey mmd-border-bt">
                                    <span class="md-title"><md-icon class="material-icons md-36 md-primary">person</md-icon>Dados pessoais</span>
                                </md-card-title>
                                <md-card-content layout="row">
                                    <div flex="60" layout="column">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Nome completo</label>
                                            <input type="text" name="fullName" ng-model="vm.newUser.fullName" required>
                                            <div ng-messages="signupForm.fullName.$error">
                                                <div ng-message="required">Campo obrigatório</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Sexo</label>
                                            <md-select name="sexo" ng-model="vm.newUser.sexo" required>
                                                <md-option value="Masculino">
                                                    Masculino
                                                </md-option>
                                                <md-option value="Feminino">
                                                    Feminino
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="signupForm.sexo.$error">
                                                <div ng-message="required">Selecione o sexo</div>
                                            </div>
                                        </md-input-container>
                                        <dv class="md-block">
                                            <span class="md-subheader">Data de nascimento:</span>
                                            <md-datepicker name="dataNascimento" md- ng-model="vm.newUser.birthDate" required></md-datepicker>
                                        </dv>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Estado civil</label>
                                            <md-select name="departamento" ng-model="vm.newUser.departamento" required>
                                                <md-option value="Masculino">
                                                    Casado
                                                </md-option>
                                                <md-option value="Feminino">
                                                    Solteiro
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="signupForm.departamento.$error">
                                                <div ng-message="required">Selecione o sexo</div>
                                            </div>
                                        </md-input-container>
                                        <div layout="row" layout-align="start start">
                                            <md-input-container flex="80" class="md-block" flex-gt-sm>
                                                <label>Formação</label>
                                                <md-select name="fomacao" ng-model="vm.newUser.formacao" required>
                                                    <md-option value="Engenharia">
                                                        Engenharia
                                                    </md-option>
                                                    <md-option value="Serviço social">
                                                        Serviço social
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="signupForm.formacao.$error">
                                                    <div ng-message="required">Selecione a formacao</div>
                                                </div>
                                            </md-input-container>
                                            <md-button class="md-icon-button" ng-click="vm.addNewField($event)">
                                                <md-icon class="material-icons">add_box</md-icon>
                                                <md-tooltip>Adicionar
                                                    nova formação</md-tooltip>
                                            </md-button>
                                        </div>


                                    </div>
                                    <div flex class="employeeImg" layout="column" layout-align="start center">
                                        <!--                                        <md-input-container>-->

                                        <!--                                        </md-input-container>-->

                                        <!--                                      <md-button ngf-select ng-model="picFile" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}">Escolher</md-button>-->
                                        <div class="fotoArea" layout="column" layout-align="center center">

                                            <span class="md-subhead">Foto</span>
                                            <!--

                                            <div class="img-placeholder">
                                                <img ng-show="form.file.$valid" ngf-thumbnail="picFile" class="thumb">
                                            </div>
-->
                                            <!--                                            <input class="ng-hide" id="input-file-id" type="file" ngf-select ng-model="picFile" ngf-pattern="'image/*'" name="file" accept="image/*" ngf-max-size="2MB" ngf-min-height="120" ngf-resize="{width: 120, height: 120}" required ngf-model-invalid="errorFile">-->

                                            <div ng-init="isViewOriginalImg =true" ng-show="isViewOriginalImg">
                                                <input class="ng-hide" id="input-file-id" ngf-select ng-model="vm.file" name="file" ngf-pattern="'image/*'" accept="image/*">
                                                <div ngf-drop ng-model="vm.file" ngf-pattern="image/*" class="cropArea">
                                                    <img-crop image="vm.file  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                                                    </img-crop>
                                                </div>
                                            </div>
                                            <label ng-show="isViewOriginalImg" for="input-file-id" class="md-button md-primary no-text-transform">Escolha o arquivo (tam. max: 60kB)</label>
                                            <div class="cropArea">
                                                <img ng-src="{{croppedDataUrl}}" />
                                            </div>
                                            <label ng-show="!isViewOriginalImg" for="input-file-id" class="md-button md-primary no-text-transform" ng-click="isViewOriginalImg=true">Substituir arquivo (tam. max: 60kB)</label>
                                            <!--                                            <input class="ng-hide" id="input-file-id" type="file" />-->

                                            <md-button ng-show="isViewOriginalImg" class="md-warn" ng-click="isViewOriginalImg=false">Salvar</md-button>



                                            <!--
                                            <div ng-init="isViewOriginalImg =true" ng-show="isViewOriginalImg">
                                                <div>Crop Image and Upload</div>
                                                <form name="vm.upload_form">
                                                    <button ngf-select ng-model="vm.file" name="file" ngf-pattern="'image/*'" accept="image/*">
                                                        Select Picture</button>
                                                    <div ngf-drop ng-model="vm.file" ngf-pattern="image/*" class="cropArea">
                                                        <img-crop image="vm.file  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                                                        </img-crop>
                                                    </div>
                                                </form>
                                            </div>
                                            <div>
                                                <img ng-src="{{croppedDataUrl}}" />
                                            </div>
                                            <md-button ng-click="isViewOriginalImg=false">Usar</md-button>
                                                                                        <button type="submit" ng-click="vm.submit()">submit</button>
                                            <button type="submit" ng-click="vm.upload(croppedDataUrl, vm.file.name)">Submit</button>
-->
                                        </div>

                                        <!--

                                        <h1>Angular Node File Upload</h1>
                                        <form name="vm.upload_form">
                                            Single Image with validations
                                            <input type="file" ngf-select ng-model="vm.file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" />Image thumbnail:
                                            <img style="width:100px;" ngf-thumbnail="vm.file" />
                                            <i ngshow="vm.upload_form.file.$error.required">*required</i>
                                            <br>
                                            <i ng-show="vm.upload_form.file.$error.maxSize">File too large
                                                {{vm.file.size / 1000000|number:1}}MB: max 20M</i>
                                            <button type="submit" ng-click="vm.submit()">submit</button>
                                            <p>{{vm.progress}}</p>
                                        </form>
-->

                                    </div>
                                </md-card-content>
                                <md-divider></md-divider>
                            </md-card>



                            <md-divider></md-divider>
                            <md-divider></md-divider>
                            <md-card layout-padding class="my-md-no-margin my-md-no-shadow">
                                <md-card-title>
                                    <span class="md-title"><md-icon class="material-icons md-36 md-primary">phone</md-icon>Contato</span>
                                </md-card-title>
                                <md-card-content>
                                    <div layout-gt-md="row">
                                        <md-input-container flex class="md-icon-float md-block">
                                            <label>Telefone (ramal)</label>
                                            <input name="telRes" ng-model="vm.newUser.telefone" ui-mask="(99) 9999-9999" type="text" required>
                                            <div ng-messages="signupForm.telefone.$error">
                                                <div ng-message="required">Campo obrigatório</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex class="md-icon-float md-block">
                                            <md-icon> <i class="material-icons">email</i>
                                            </md-icon>
                                            <label>Email</label>
                                            <input type="email" name="email" ng-model="vm.newUser.email" ng-pattern="/^.+@.+\..+$/" required>
                                            <div ng-messages="signupForm.email.$error" role="alert">
                                                <div ng-message-exp="['required', 'pattern']">
                                                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </md-card-content>
                            </md-card>
                            <md-card layout-padding class="my-md-no-margin my-md-no-shadow">
                                <md-card-title>
                                    <span class="md-title">Dados internos</span>
                                </md-card-title>
                                <md-card-content>
                                    <div layout-gt-md="row">
                                        <md-input-container flex class="md-icon-float md-block">
                                            <label>Id</label>
                                            <input name="telRes" ng-model="vm.newUser.id" ui-mask="999" type="text" required>
                                            <div ng-messages="signupForm.id.$error">
                                                <div ng-message="required">Campo obrigatório</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block">
                                            <label>Senha</label>
                                            <input type="password" name="senha" ng-model="vm.newUser.password" minlength="6" maxlength="6" required>
                                            <div ng-messages="signupForm.senha.$error">
                                                <div ng-message="required">Entre com a sua senha</div>
                                                <div flex wrap ng-message="minlength, maxlength">Sua senha deve conter no mín. seis caracteres</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block">
                                            <label>Repetir Senha</label>
                                            <input type="password" name="repSenha" ng-model="vm.newUser.confirmPassword" minlength="6" maxlength="6" match="vm.newUser.password" required>
                                            <div ng-messages="signupForm.repSenha.$error">
                                                <div ng-message="match">As senhas não conferem</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Departamento</label>
                                            <md-select name="departamento" ng-model="vm.newUser.departamento" required>
                                                <md-option value="Masculino">
                                                    Masculino
                                                </md-option>
                                                <md-option value="Feminino">
                                                    Feminino
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="signupForm.departamento.$error">
                                                <div ng-message="required">Selecione o sexo</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Cargo</label>
                                            <md-select name="cargo" ng-model="vm.newUser.cargo" required>
                                                <md-option value="Masculino">
                                                    Masculino
                                                </md-option>
                                                <md-option value="Feminino">
                                                    Feminino
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="signupForm.cargo.$error">
                                                <div ng-message="required">Selecione o cargo</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </md-card-content>
                            </md-card>
                            <md-divider></md-divider>
                            <md-divider></md-divider>
                            <md-card class="my-md-no-margin my-md-no-shadow">
                                <!--                <md-card-actions layout="row" layout-align="center center">-->
                                <div layout="row" layout-margin layout-align="center center">
                                    <md-button flex="50" type="submit" ng-click="vm.createEmployee(vm.newUser)" class="md-primary md-raised">Cadastrar</md-button>
                                </div>
                                <!--                </md-card-actions>-->
                            </md-card>
                            <!--            <md-divider></md-divider>-->
                        </form>
                    </md-card-content>
                </md-card>
            </div>
        </div>

    </div>

</md-content>
