<div layout="column">
    <div layout="row" layout-align="center center">
        <div layout="row" flex flex-gt-md="60" layout-align="center center">
            <div layout="column" flex-gt-md="100">
                <md-card class="my-md-no-margin my-md-no-shadow">
                    <md-card-title class="md-display-1">
                        <b>Cadastro de colaborador</b>
                        <div ng-repeat=" item in vm.inputField.value">
                           {{ item}}
                        </div>
                    </md-card-title>
                    <md-card-content>
                        <form name="vm.signupForm" ng-submit="vm.signupForm.$valid && vm.createEmployee(vm.newEmployee, croppedDataUrl)" novalidate>
                            <md-divider></md-divider>
                            <md-divider></md-divider>
                            <md-card class="no-shadow mmd-nopadding">
                                <md-card-title>
                                    <span class="md-title"><md-icon class="material-icons md-36">person</md-icon><b>Dados pessoais</b></span>
                                </md-card-title>
                                <md-card-content class="bg-grey mmd-border" layout-gt-sm="row">
                                    <md-card class="no-margin no-shadow bg-grey" flex="60" layout="column">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Nome completo</label>
                                            <input class="mmd-form-input mmd-input-border" type="text" name="fullName" ng-model="vm.newEmployee.fullName" required>
                                            <div ng-messages="vm.signupForm.fullName.$error" role="alert">
                                                <div ng-message="required">Campo obrigatório</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="mmd-form-input md-block mmd-border" flex-gt-sm>
                                            <label>Sexo</label>
                                            <md-select name="gender" ng-model="vm.newEmployee.gender" required>
                                                <md-option value="Masculino">
                                                    Masculino
                                                </md-option>
                                                <md-option value="Feminino">
                                                    Feminino
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="vm.signupForm.gender.$error">
                                                <div ng-message="required">Selecione o sexo</div>
                                            </div>
                                        </md-input-container>
                                        <dv class=" mmd-form-inputmd-block">
                                            <span class="label">Data de nascimento:</span>
                                            <md-datepicker name="dataNascimento" md- ng-model="vm.newEmployee.birthDate" required></md-datepicker>
                                        </dv>
                                        <md-input-container class=" mmd-form-input md-block" flex-gt-sm>
                                            <label>Estado civil</label>
                                            <md-select name="maritalStatus" ng-model="vm.newEmployee.maritalStatus" required>
                                                <md-option value="Masculino">
                                                    Casado
                                                </md-option>
                                                <md-option value="Feminino">
                                                    Solteiro
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="vm.signupForm.maritalStatus.$error">
                                                <div ng-message="required">Selecione o sexo</div>
                                            </div>
                                        </md-input-container>

                                    </md-card>

                                    <div flex class="employeeImg" layout="row" layout-align="center start">
                                        <md-card flex="100" class="fotoArea" layout="row" layout-align="center center">
                                            <div>
                                                <div layout="column" layout-align="center center" style="margin-bottom:8px;">
                                                    <span class="md-subhead"><b>Foto do colaborador</b></span>
                                                    <span class="md-subhead" style="color:red" ng-show="isViewOriginalImg && vm.signupForm.imgFile.$valid"><b>Selecione a área para recorte</b>.</span>
                                                    <div layout="column" layout-align="center center" ng-init="isViewOriginalImg =true" ng-show="isViewOriginalImg">
                                                        <md-input-container class="no-margin">
                                                            <input type="file" class="ng-hide" id="input-file-id" ngf-select ng-model="vm.newEmployee.imgFile" name="imgFile" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB" required>
                                                            <div ngf-drop ng-model="vm.newEmployee.imgFile" ngf-pattern="image/*" class="cropArea">
                                                                <img-crop area-type="{{vm.imgCropOptions.areaType}}" area-min-size="vm.imgCropOptions.areaMinSize" result-image-size="vm.imgCropOptions.resultImageSize" image="vm.newEmployee.imgFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                                                                </img-crop>
                                                            </div>
                                                            <div ng-messages="vm.signupForm.imgFile.$error">
                                                                <div ng-message="required">Precisa incluir uma foto</div>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                    <label ng-show="!vm.signupForm.imgFile.$valid" for="input-file-id" class="md-button md-raised no-text-transform">Escolha a imagem</label>
                                                    <label ng-show="vm.signupForm.imgFile.$valid && isViewOriginalImg" for="input-file-id" class="md-button md-raised no-text-transform" ng-click="isViewOriginalImg=true">Trocar imagem</label>

                                                </div>
                                                <div layout-margin ng-class="{'bg-grey':vm.signupForm.imgFile.$valid && isViewOriginalImg}" layout="column" layout-align="center center" ng-show="vm.signupForm.imgFile.$valid">
                                                    <span ng-show="vm.signupForm.imgFile.$valid && isViewOriginalImg"><b>Resultado</b></span>
                                                    <div class="cropArea">
                                                        <img ng-src="{{croppedDataUrl}}" />
                                                    </div>
                                                    <md-button ng-show="vm.signupForm.imgFile.$valid && isViewOriginalImg" class="md-hue-2 md-warn" ng-click="isViewOriginalImg=false"><b>Recortar</b>
                                                    </md-button>
                                                    <label ng-show="!isViewOriginalImg" for="input-file-id" class="md-button md-raised no-text-transform" ng-click="isViewOriginalImg=true">Trocar imagem</label>
                                                </div>
                                            </div>
                                        </md-card>

                                    </div>
                                </md-card-content>
                            </md-card>

                            <!--
                            <md-card layout-padding class="my-md-no-margin my-md-no-shadow">
    <md-card-title>
        <span class="md-title"><md-icon class="material-icons md-36 md-primary">phone</md-icon>Cont ato</span>
    </md-card-title>
    <md-card-content>
        <div layout-gt-md="row">

            <md-input-container flex class="md-icon-float md-block">
                <md-icon> <i class="material-icons">email</i>
                </md-icon>
                <label>Email</label>
                <input type="email" name="email" ng-model="vm.newEmployee.email" ng-pattern="/^.+@.+\..+$/" required>
                <div ng-messages="vm.signupForm.email.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                </div>
            </md-input-container>
        </div>
    </md-card-content>
</md-card>
-->
                            <md-card class="mmd-nopadding  no-shadow">
                                <md-card-title>
                                    <span class="md-title"><md-icon class="material-icons md-36">account_box</md-icon><b>Dados de login</b></span>
                                </md-card-title>
                                <md-card-content layout="row" class="bg-grey mmd-border">
                                    <div layout="column">
                                        <md-input-container flex class="md-icon-float md-block">
                                            <label>Entre com a matricula (3 dígitos)</label>
                                            <input class="mmd-form-input mmd-input-border" name="id" ng-model="vm.newEmployee.email" ui-mask="999" type="text" required>
                                            <div ng-messages="vm.signupForm.id.$error">
                                                <div ng-message="required">Campo obrigatório</div>
                                            </div>
                                        </md-input-container>
                                        <div layout-gt-md="row">
                                            <!--                                            <div flex>-->
                                            <md-input-container flex class="mmd-margin-l md-block">
                                                <label>Senha</label>
                                                <input class="mmd-form-input mmd-input-border" type="password" name="password" ng-model="vm.newEmployee.password" minlength="6" maxlength="6" required>
                                                <div ng-messages="vm.signupForm.password.$error">
                                                    <div ng-message="required">Entre com a sua senha</div>
                                                    <div flex wrap ng-message="minlength, maxlength">Sua senha deve conter no mín. seis caracteres</div>
                                                </div>
                                            </md-input-container>
                                            <!--                                            </div>-->
                                            <md-input-container flex class="md-block">
                                                <label>Repetir Senha</label>
                                                <input class="mmd-form-input mmd-input-border" type="password" name="confirm" ng-model="vm.newEmployee.confirmPassword" minlength="6" maxlength="6" match="vm.newEmployee.password" required>
                                                <div ng-messages="vm.signupForm.confirm.$error">
                                                    <div ng-message="match">As senhas não conferem</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>

                            <md-card class="no-shadow">
                                <md-card-title class="">
                                    <span class="md-title"><md-icon class="material-icons md-36">school</md-icon><b>Dados acadêmicos</b></span>
                                </md-card-title>
                                <md-card-content class="bg-grey mmd-border">
                                    <div>
                                        <div layout="row" layout-align="start center">
                                            <md-input-container flex="80" class="md-block" flex-gt-sm>
                                                <label>Formação</label>
                                                <md-select class="mmd-form-input" name="education" ng-model="vm.newEmployee.education" required>
                                                    <md-option value="{{education}}" ng-repeat="education in vm.formFields.education">
                                                        {{education}}
                                                    </md-option>
                                                </md-select>
                                                <div ng-messages="vm.signupForm.education.$error">
                                                    <div ng-message="required">Selecione a formacao</div>
                                                </div>
                                            </md-input-container>
                                            <div fle class="bg-grey">
                                                <md-button class="bg-grey mmd-form-input md-icon-button" ng-click="vm.addNewFormField('Formação','education', $event)">
                                                    <md-icon class="material-icons">add_box</md-icon>
                                                    <md-tooltip>Adicionar nova formação</md-tooltip>
                                                </md-button>
                                            </div>
                                        </div>
                                        <md-input-container class="mmd-form-input md-block mmd-input-border" flex-gt-sm>
                                            <label>Nível</label>
                                            <md-select name="educationLevel" ng-model="vm.newEmployee.educationLevel" required>
                                                <md-option value="{{educationLevel}}" ng-repeat="educationLevel in vm.formFields.educationLevel">
                                                    {{educationLevel}}
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="vm.signupForm.educationLevel.$error">
                                                <div ng-message="required">Selecione o nível acadêmico</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </md-card-content>
                            </md-card>
                            <md-card class="no-shadow">
                                <md-card-title class="">
                                    <span class="md-title"><md-icon class="material-icons md-36">work</md-icon><b>Dados internos</b></span>
                                </md-card-title>
                                <md-card-content class="bg-grey mmd-border">
                                    <div>
                                        <md-input-container class="mmd-form-input md-block mmd-input-border" flex-gt-sm>
                                            <label>Departamento</label>
                                            <md-select name="department" ng-model="vm.newEmployee.department" required>
                                                <md-option value="{{department}}" ng-repeat="department in vm.formFields.department | orderBy:'toString()' | filter:searchText">
                                                    {{department}}
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="vm.signupForm.department.$error">
                                                <div ng-message="required">Selecione o sexo</div>
                                            </div>
                                        </md-input-container>


                                        <md-input-container class="mmd-form-input md-block" flex-gt-sm>
                                            <label>Cargo/Função</label>
                                            <md-select name="cargo" ng-model="vm.newEmployee.jobTitle" required>
                                                <md-option value="{{jobTitle}}" ng-repeat="jobTitle in vm.formFields.jobTitle | orderBy:'toString()' | filter:searchText">
                                                    {{jobTitle}}
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="vm.signupForm.jobTitle.$error">
                                                <div ng-message="required">Selecione o cargo/função</div>
                                            </div>
                                        </md-input-container>

                                        <dv class="md-block">
                                            <span class="label">Data do   contrato:</span>
                                            <md-datepicker name="admissionDate" ng-model="vm.newEmployee.admissionDate" required></md-datepicker>
                                        </dv>

                                        <md-input-container class="  md-icon-float md-block">
                                            <label class="bg-grey">Telefone (ramal)</label>
                                            <input class="mmd-form-input" name="telRes" ng-model="vm.newEmployee.phone" ui-mask="(99) 9999-9999" type="text" required>
                                            <div ng-messages="vm.signupForm.phone.$error">
                                                <div ng-message="required">Campo obrigatório</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                </md-card-content>
                            </md-card>

                            <md-divider></md-divider>
                            <md-divider></md-divider>
                            <div class="my-md-no-margin my-md-no-shadow">
                                <div layout="row" layout-margin layout-align="center center">
                                    <md-button flex="50" type="submit" class="md-primary md-raised mmd-button-md">Cadastrar</md-button>
                                </div>
                            </div>
                        </form>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>
