<md-card>
    <md-card-title>
        <span class="md-headline">Dados do colaborador</span>
    </md-card-title>
    <md-card-content>
            <img ng-src="{{vm.rootPath + vm.imgPath[0]}}" />
        <md-list>

            <md-list-item ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="(key,val) in  vm.employeeData">
                <p><b>{{key}}:</b></p>
                <p class="smooth-text"><b>{{val}}</b></p>
            </md-list-item>

        </md-list>
    </md-card-content>
</md-card>
