<div>
    <md-card>
        <md-card-title>
            <h2 class="md-title">Funcioários no recinto</h2>
        </md-card-title>
        <md-card-content>
            <md-list>
                <md-list-item>
                    <p><b>Funcionário</b>
                        <p>
                            <p><b>Hora de entrada</b>
                            </p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-repeat="activeEmployee in vm.employeeOpenPonto">
                    <p>{{activeEmployee.name}}</p>
                    <p>{{activeEmployee.ponto.horaEntrada}}</p>
                    <p>{{vm.timeOnWork| date:'medium'}}</p>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>
