<md-content flex class="bg-grey" layout="row" layout-align="center center">
    <!--    <md-content layout="column" flex>-->
    <md-card flex-gt-md="30">
        <md-toolbar>
            <md-card-title layout="row" layout-align="center center">
                <h2 class="md-display-1"><b>Registro de ponto</b></h2>
            </md-card-title>
        </md-toolbar>
        <form name="vm.baterPontoForm" ng-submit="vm.baterPontoForm.$valid && vm.getPontoOpenClose(vm.employee,$event)" novalidate>

            <md-card-content layout="column">
                <md-input-container>
                    <label>Entre aqui com o Seu Id</label>
                    <input type="text" name="id" ng-model="vm.employee.empId" maxlength="4" required/>
                    <div ng-messages="vm.baterPontoForm.id.$error" role="alert">
                        <div ng-message="required">Por favor, entre com o seu ID</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Entre aqui com a sua senha</label>
                    <input type="password" name="password" ng-model="vm.employee.password" maxlength="6" required/>
                    <div ng-messages="vm.baterPontoForm.password.$error" role="alert">
                        <div ng-message="required">Por favor, entre com a senha</div>
                    </div>
                </md-input-container>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="space-between">
                <div layout="column" flex="30">
                    <md-button ng-click="vm.employee.action='openPonto'" type="submit" class="md-primary md-raised lg-button"><b>Entrada</b></md-button>
                </div>
                <div layout="column" flex="30">
                    <md-button ng-click="vm.employee.action='closePonto'" type="submit" class="md-warn md-raised lg-button"><b>Saída</b></md-button>
                </div>
            </md-card-actions>
        </form>
    </md-card>
    iv flex class="employeeImg" layout="row" layout-align="center start">
    <md-card flex="100" class="fotoArea" layout="row" layout-align="center center">
        <div>
            <div layout="column" layout-align="center center" style="margin-bottom:8px;">
                <span class="md-subhead"><b>Foto do colaborador</b></span>
                <span class="md-subhead" style="color:red" ng-show="isViewOriginalImg && vm.signupForm.imgFile.$valid"><b>Selecione a área para recorte</b>.</span>
                <div layout="column" layout-align="center center" ng-init="isViewOriginalImg =true" ng-show="isViewOriginalImg">
                    <md-input-container class="no-margin">
                        <input type="file" class="ng-hide" id="input-file-id" ngf-select ng-model="vm.newEmployee.imgFile" name="imgFile" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB" required>
                        <div ngf-drop ng-model="vm.newEmployee.imgFile" ngf-pattern="image/*" class="cropArea">
                            <img-crop area-type="{{vm.imgCropOptions.areaType}}" area-min-size="vm.imgCropOptions.areaMinSize" result-image-size="vm.imgCropOptions.resultImageSize" image="vm.newEmployee.imgFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                            </img-crop>
                        </div>
                        <div ng-messages="vm.signupForm.imgFile.$error">
                            <div ng-message="required">Precisa incluir uma foto</div>
                        </div>
                    </md-input-container>
                </div>
                <label ng-show="!vm.signupForm.imgFile.$valid" for="input-file-id" class="md-button md-raised no-text-transform">Escolha a imagem</label>
                <label ng-show="vm.signupForm.imgFile.$valid && isViewOriginalImg" for="input-file-id" class="md-button md-raised no-text-transform" ng-click="isViewOriginalImg=true">Trocar imagem</label>

            </div>
            <div layout-margin ng-class="{'bg-grey':vm.signupForm.imgFile.$valid && isViewOriginalImg}" layout="column" layout-align="center center" ng-show="vm.signupForm.imgFile.$valid">
                <span ng-show="vm.signupForm.imgFile.$valid && isViewOriginalImg"><b>Resultado</b></span>
                <div class="cropArea">
                    <img ng-src="{{croppedDataUrl}}" />
                </div>
                <md-button ng-show="vm.signupForm.imgFile.$valid && isViewOriginalImg" class="md-hue-2 md-warn" ng-click="isViewOriginalImg=false"><b>Recortar</b>
                </md-button>
                <label ng-show="!isViewOriginalImg" for="input-file-id" class="md-button md-raised no-text-transform" ng-click="isViewOriginalImg=true">Trocar imagem</label>
            </div>
        </div>
    </md-card>

    <!--    </md-content>-->
</md-content>

