<div layout="column" layout-margin ng-cloak>

    <md-card>
        <md-card-title class="md-display-1">Gerador de relatórios de ponto dos colaboradores</md-card-title>
    </md-card>

    <md-card>
        <md-card-title class="md-title">Selecione o colaborador</md-card-title>
        <md-card-content>
            <md-input-container>
                <label>Selecione o setor</label>
                <md-select ng-model="vm.employee.setor">
                    <md-option ng-click="vm.getSelectedEmployee($index)" ng-repeat="setor in vm.setor" ng-value="setor">
                        {{setor}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Escolha o colaborador</label>
                <md-select ng-model="vm.selectedEmployee.name">
                    <md-option ng-click="vm.getSelectedEmployee($index)" ng-repeat="employee in vm.allEmployees track by $index" ng-value="employee.name">
                        {{employee.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-card-content>

    </md-card>
    <div ng-show="vm.isEmployeeSelected">
        <md-card>
            <md-card-title  class="md-title" layout="row" layout-align="center center">
               Selecione a data
            </md-card-title>
            <md-card-content layout="row" layout-align="center center">

                <h2 class="md-title"> <md-button class="md-primary md-icon-button" ng-click=" vm.getPontoPerMonth('prev')"><md-icon class="material-icons ">navigate_before</md-icon></md-button>
                    <md-input-container>
                        <!--                        <label>Selecione o ano</label>-->
                        <md-select ng-model="vm.currentMonth">
                            <md-option  ng-repeat="month in vm.months" value="{{month}}">{{month}}</md-option>
                            <!--                            <md-option value="2016">2016</md-option>-->
                        </md-select>
                    </md-input-container>
                    ,
                    <md-input-container>
<!--                        <label>Selecione o ano</label>-->
                        <md-select ng-model="vm.currentYear">
                            <md-option  ng-repeat="years in vm.years" value="{{years}}">{{years}}</md-option>
<!--                            <md-option value="2016">2016</md-option>-->
                        </md-select>
                    </md-input-container>


<!--                    {{vm.currentMonth}} {{ vm.currentYear}}   -->
                    <md-button class="md-primary md-icon-button" ng-click=" vm.getPontoPerMonth('next')"><md-icon class="material-icons">navigate_next</md-icon></md-button> </h2>
            </md-card-content>
        </md-card>
        <md-tabs class="md-primary md-hue-2" md-dynamic-height md-border-bottom>
            <md-tab label="{{report.label}}" ng-repeat="report in vm.relatorioTabsTwoCols">
                <md-card>
                    <md-card-title>
                        <span class="md-display-1">{{report.title}}</span>
                    </md-card-title>
                </md-card>
                <div layout="row">
                    <div flex="80">
                        <md-card>
                            <md-list>
                                <md-list-item class="md-3-line">
                                    <div class="md-list-item-text" layout="column">
                                        <h2 flex class="md-title smooth-title">Colaborador:&nbsp;<span style="color:initial">{{vm.SelectedEmployeeData.name}}</span></h2>
                                        <h3 flex class="md-title smooth-title">Setor: <span><b>{{vm.employee.setor}}</b></span></h3>
                                        <p>Data processada: <span><b>{{vm.currentMonth}} de {{vm.currentYear}}</b></span>
                                        </p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-card>
                    </div>
                    <div flex>
                        <md-button ng-class="vm.buttonClass" ng-click="vm.toggleView()">Modo de visualização:
                            <md-icon class="material-icons md-48">
                                <md-tooltip md-direction="bottom">
                                    {{vm.tooltip}}
                                </md-tooltip>
                                {{vm.viewIconicon}}</md-icon>
                        </md-button>
                    </div>
                </div>
                <div layout="row" layout-align="start start">
                    <md-card flex ng-repeat="turno in report.turno track by $index">
                        <md-card-title layout="column" class="mmd-nopadding_tb">
                            <h3 class="md-title">{{turno.title}}</h3>
                            <div layout="column">
                                <span flex class="md-subhead smooth-title">Total de entradas atrasadas: &nbsp; <b>{{vm.turno1TotalDelayedIn}}</b></span>
                                <span class="md-subhead smooth-title">Total de saídas antecipadas:&nbsp;<b>{{vm.turno1TotalDelayedOut}}</b> </span>
                            </div>
                        </md-card-title>
                        <md-card ng-show="!vm.isListView">
                            <md-card-content layout="row">
                                <md-list flex ng-repeat="header in turno.cols">
                                    <md-list-item>
                                        <p>{{header.title}}</p>
                                    </md-list-item>
                                    <md-divider></md-divider>
                                    <md-list-item ng-show="employeeData[turno.index][header.property]" ng-repeat="employeeData in   vm.SelectedEmployeeFiltData" class="md-2-line">
                                        <div class="md-list-item-text">
                                            <h3>{{employeeData.fullDate | date:'dd-MMM-yyyy': 'GMT' }}</h3>

                                            <p>{{employeeData[turno.index][header.value]}}</p>
                                        </div>
                                        <md-divider></md-divider>
                                    </md-list-item>
                                </md-list>
                            </md-card-content>
                        </md-card>

                        <div layout="row" layout-align="center center" ng-show="vm.isListView">
                            <md-card flex>
                                <md-card-content>

                                    <md-grid-list md-cols="7" md-row-height="2:2" md-gutter="0px">
                                        <md-grid-tile ng-repeat="weekDay in  vm.weekDays">
                                            {{weekDay}}
                                        </md-grid-tile>
                                        <md-divider></md-divider>
                                        <md-grid-tile ng-repeat=" employeeData in   vm.SelectedEmployeeFiltData">

                                            <div layout="column" layout-align="center center">
                                                <div flex>{{employeeData.fullDate|date:'d'}}</div>
                                                <div flex layout="row">
                                                    <md-icon ng-show="employeeData['{{turno.index}}'].isDelayedIn" class="md-warn material-icons">snooze</md-icon>
                                                    <md-icon ng-show="employeeData['{{turno.index}}'].isAntiOut" class="md-primary material-icons">timer_off</md-icon>
                                                </div>
                                            </div>
                                            <md-tooltip md-direction="top">
                                                Entrada: {{employeeData[turno.index].inTime}} Saída:{{employeeData[turno.index].outTime}}
                                            </md-tooltip>
                                        </md-grid-tile>
                                    </md-grid-list>
                                    <md-divider></md-divider>
                                    <div layout="row" layout-align="center center" layout-padding>
                                        <span flex="none"><md-icon class="md-warn material-icons">snooze</md-icon>&nbsp;Entrada atrasada</span>
                                        <span flex><md-icon class="md-primary material-icons">timer_off</md-icon>&nbsp;Saída antecipada</span>
                                    </div>
                                </md-card-content>
                            </md-card>

                        </div>


                    </md-card>
                    <md-divider></md-divider>
                </div>
            </md-tab>
            <md-tab label="{{towColProperty.label}}" ng-repeat="towColProperty in  vm.relatorioTabs">
                <md-card>
                    <md-card-title>
                        <span class="md-display-1">{{towColProperty.title}}</span>
                    </md-card-title>
                </md-card>
                <div layout="row">
                    <div flex="80">
                        <md-card>
                            <md-list>
                                <md-list-item class="md-3-line">
                                    <div class="md-list-item-text" layout="column">
                                        <h2 flex class="md-title smooth-title">Colaborador:&nbsp;<span style="color:initial">{{vm.SelectedEmployeeData.name}}</span></h2>
                                        <h3 flex class="md-title smooth-title">Setor: <span><b>Administrativo</b></span></h3>
                                        <p>Data processada: <span><b>{{vm.currentMonth}} de {{vm.currentYear}}</b></span>
                                        </p>
                                    </div>

                                </md-list-item>
                            </md-list>
                        </md-card>
                    </div>
                    <div flex>
                        <md-button ng-class="vm.buttonClass" ng-click="vm.toggleView()">Modo de visualização:
                            <md-icon class="material-icons md-48">
                                <md-tooltip md-direction="bottom">
                                    {{vm.tooltip}}
                                </md-tooltip>
                                {{vm.viewIconicon}}</md-icon>
                        </md-button>
                    </div>
                </div>
                <md-card ng-show="!vm.isListView">
                    <md-card-content>
                        <md-list>
                            <md-list-item>
                                <p ng-repeat="relType in towColProperty.cols"><b>{{relType.header}}</b>
                                </p>
                            </md-list-item>

                            <md-divider></md-divider>
                            <div ng-repeat="relType in towColProperty.cols">
                                <md-list-item ng-show="employeeData[relType.property]" ng-repeat="employeeData in   vm.SelectedEmployeeFiltData" class="md-2-line">
                                    <p>{{employeeData.fullDate | date:'dd-MMM-yyyy': 'GMT' }}</p>

                                    <p>{{employeeData[relType.value]| date:'hh:mm:ss':'UTC'}}</p>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </div>
                        </md-list>
                    </md-card-content>
                </md-card>

                <md-card ng-show="vm.isListView">
                    <md-card-content>
                        <div class="view-calendar" layout="row" layout-align="center center" ng-show="!vm.isListView">
                            <md-card flex="100" flex-gt-md=35>
                                <md-card-content>
                                    <md-grid-list md-cols="7" md-row-height="2:2" md-gutter="0px">
                                        <md-grid-tile ng-repeat="weekDay in  vm.weekDays">
                                            {{weekDay}}
                                        </md-grid-tile>
                                        <md-divider></md-divider>
                                        <md-grid-tile ng-repeat=" employeeData in   vm.SelectedEmployeeFiltData">
                                            <div layout="column" layout-align="center center">
                                                <div flex>{{employeeData.fullDate|date:'d'}}</div>
                                                <div flex layout="row">
                                                    <md-icon ng-show="employeeData.isExtraHours" class="md-primary material-icons">add_alarm</md-icon>
                                                </div>
                                            </div>
                                            <md-tooltip md-direction="top">
                                                Total de horas extras: {{employeeData.totalExtraHours}}
                                            </md-tooltip>
                                        </md-grid-tile>
                                    </md-grid-list>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div class="view-calendar" layout="row" layout-align="center center" ng-show="vm.isListView">
                            <md-card flex="100" flex-gt-md=35>
                                <md-card-content>
                                    <md-grid-list md-cols="7" md-row-height="2:2" md-gutter="0px">
                                        <md-grid-tile ng-repeat="weekDay in  vm.weekDays">
                                            {{weekDay}}
                                        </md-grid-tile>
                                        <md-divider></md-divider>
                                        <md-grid-tile ng-repeat=" employeeData in   vm.SelectedEmployeeFiltData" ng-cloak>
                                            <div layout="column" layout-align="center center">
                                                <div flex>{{employeeData.fullDate|date:'d'}}</div>
                                                <div ng-show="towColProperty.isdataOnCalendar" flex class="md-subheader">{{employeeData[towColProperty.cols[1].value] | date:'hh:mm':'GMT'}}</div>
                                                <div ng-show="towColProperty.isIcon" flex layout="row">
                                                    <md-icon ng-show="employeeData[towColProperty.cols[1].property]" class="md-primary material-icons">{{towColProperty.icon}}</md-icon>
                                                </div>
                                            </div>
                                            <md-tooltip ng-show="towColProperty.isTooltip" md-direction="top">
                                                {{towColProperty.toolTipText}}: {{employeeData[towColProperty.cols[1].value]}}
                                            </md-tooltip>
                                        </md-grid-tile>
                                    </md-grid-list>
                                </md-card-content>
                            </md-card>
                        </div>
                    </md-card-content>
                </md-card>


            </md-tab>
        </md-tabs>
    </div>
</div>
