/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
/* line 4, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.my-md-menu-button {
  position: absolute;
  top: 0;
  bottom: 0; }
  /* line 8, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
  .my-md-menu-button .md-button {
    border-radius: 0;
    margin: 0;
    display: inherit; }
  /* line 14, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
  .my-md-menu-button .md-button:hover {
    border-bottom: solid 4px #FF5722; }

/* line 18, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.active-menu {
  border-bottom: solid 4px #FF5722; }

/* line 21, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.work-is-true {
  background-color: aquamarine; }

/* line 24, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.work-is-fale {
  background-color: red; }

/* line 27, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.list-grey {
  background-color: #E3F2FD !important; }

/* line 30, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.smooth-title {
  color: rgba(0, 0, 0, 0.54) !important; }

/* line 34, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.material-icons.md-18 {
  font-size: 18px;
  height: 18px;
  width: 18px; }

/* line 39, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.material-icons.md-24 {
  font-size: 24px;
  height: 24px;
  width: 24px; }

/* line 44, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.material-icons.md-36 {
  font-size: 36px;
  height: 36px;
  width: 36px; }

/* line 49, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.material-icons.md-48 {
  font-size: 48px;
  height: 48px; }

/* line 53, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.material-icons.md-60 {
  font-size: 60px;
  height: 60px; }

/* line 57, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.material-icons.md-96 {
  font-size: 96px !important;
  height: 96px;
  width: 96px; }

/* line 62, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.material-icons.md-success {
  color: #4CAF50; }

/* line 65, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.material-icons.md-warning {
  color: #FF9800; }

/* line 68, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.material-icons.md-error {
  color: #F44336; }

/* line 71, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.delayIn {
  background-color: aqua; }

/* line 74, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.antiOut {
  background-color: orange; }

/* line 77, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.legend-box {
  height: 25px;
  width: 25px; }

/* line 81, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.mmd-nopadding {
  padding: 0; }

/* line 84, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.mmd-nopadding_tb {
  padding-bottom: 0 !important;
  padding-top: 0 !important; }

/* line 88, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.list {
  background-color: #ECEFF1;
  margin: 4px; }

/* line 92, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.no-text-transform {
  text-transform: none; }

/* line 95, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.no-shadow {
  box-shadow: none; }

/* line 98, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.mmd-input-container {
  background-color: #80D8FF;
  border-left: solid 4px red; }

/* line 106, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.bg-grey {
  background-color: #f5f5f5; }

/* line 109, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.no-margin-tb {
  margin-top: 0;
  margin-bottom: 0; }

/* line 114, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.no-margin {
  margin: 0; }

/* line 117, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.odd {
  background-color: #f5f5f5;
  margin-top: 4px; }

/* line 123, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.even {
  background-color: white;
  margin-top: 4px; }

/* line 127, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.list-header {
  background-color: #80D8FF; }

/* line 130, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.mmd-footer {
  position: absolute;
  bottom: 0; }

/* line 134, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.calendar {
  color: rgba(0, 0, 0, 0.64);
  font-size: 18px;
  font-weight: bold; }
  /* line 135, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
  .calendar .items {
    background-color: #90CAF9; }

/* line 145, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.smooth-text {
  opacity: 0.54; }

/* line 149, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.employee-avatar {
  width: 60px;
  height: 60px;
  max-height: 60px;
  max-width: 60px; }

/* line 156, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.mmd-list-item {
  border-left: 8px solid #1976D2; }

/* line 160, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.mmd-paddingleft {
  padding-left: 8px; }

/* line 164, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.lg-button {
  padding: 6px; }

/* line 168, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.mmd-border-bt {
  border-bottom: solid 4px #1976D2; }

/* line 173, C:/Home Solutions/projetos/pontoD/code/pontoD/assets/css/style.scss */
.thumb {
  width: 120px;
  height: 120px;
  float: none;
  position: relative;
  top: 7px;
  background-color: antiquewhite; }

/*# sourceMappingURL=style.css.map */
